[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = false
name = "torch"

[dev-packages]

[packages]
scipy = "*"
recordtype = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
jax = {extras = ["cpu"],version = "*"}
tabulate = "*"
cma = "*"
pyzmq = "*"
pyqtgraph = "*"
pyqt5 = "*"
tensorflow-probability = "*"
joblib = "*"
numdifftools = "*"
dm-control = "==1.0.5"
absl-py = "*"
torch = "==1.13.0+cu117"
mujoco-py = "==2.1.2.14"
torchdiffeq = {git = "https://github.com/rtqichen/torchdiffeq.git"}
wandb = "*"
protobuf = "==3.18"
torchdiffeq-ctrl = {ref = "euler", git = "https://github.com/Daniellayeghi/torchdiffeq_ctrl.git"}
box2d = "*"
box2d-kengz = "*"
stable-baselines3 = {version = "==1.8.0", extras = ["extra"]}
gym = "==0.25.2"
tensorflow = "==1.14"
tensorboard = "*"

[requires]
python_version = "3.7"
