[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu91"
verify_ssl = false


[dev-packages]

[packages]
mujoco-py = ">=2.0,<2.1"
scipy = "*"
recordtype = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
torch = {index = "pytorch",version = "==1.4.0"}

[requires]
python_version = "3.6"
