[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = false
name = "torch"

[dev-packages]

[packages]
scipy = "*"
recordtype = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
jax = {extras = ["cpu"],version = "*"}
tabulate = "*"
cma = "*"
pyzmq = "*"
pyqtgraph = "*"
pyqt5 = "*"
tensorflow-probability = "*"
joblib = "*"
numdifftools = "*"
dm-control = "==1.0.5"
absl-py = "*"
torch = "==1.13.0+cu117"
mujoco-py = "==2.1.2.14"
torchdiff-ctrl = {ref = "euler", git = "https://github.com/Daniellayeghi/torchdiffeq_ctrl.git"}
torchdiffeq = {git = "https://github.com/rtqichen/torchdiffeq.git"}

[requires]
python_version = "3.7"
